<mat-toolbar color="primary">
    <span>Event Throttler</span>
    <span class="header-spacer"></span> 
    <mat-icon [routerLink]="['/Home']">home</mat-icon>
    <ng-container *ngIf="currentUser?.isLoggedIn">
        <mat-icon [routerLink]="['/events']">event</mat-icon>
        <mat-icon [routerLink]="['/new-event']">add_circle</mat-icon>
        <mat-icon (click)="signOut()">exit_to_app</mat-icon>
    </ng-container>
    <ng-container *ngIf="!currentUser?.isLoggedIn">
        <mat-icon [routerLink]="['/login']">perm_identity</mat-icon>
    </ng-container>
</mat-toolbar>