<div class="header clearfix">
<nav>
    <ul class="nav nav-pills float-right">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/Home']">Home</a>
        </li>
        <ng-container *ngIf="currentUser?.isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/events']">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/new-event']">Create new</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="signOut()">Sign Out</a>
            </li>
        </ng-container>
        <ng-container *ngIf="!currentUser?.isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
        </ng-container>
    </ul>
</nav>
<h3 class="text-muted">Event Throttler</h3>
</div>