<section class="row center-sm">
  <div class="col-sm-9 col-xs-12 text-area">
        <div class="row">
          <h1>Throttle your events</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        
        <div class="row">
          <div class="col-lg">
            <h2>Subheading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        
            <h2>Subheading</h2>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
        
            <h2>Subheading</h2>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>
        
          <div class="col-lg">
            <h2>Subheading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        
            <h2>Subheading</h2>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
        
            <h2>Subheading</h2>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>
        </div>

  </div>
</section>  

